'context-menu':
  'atom-text-editor': [
    {
      'label': 'Docksend'
      'command': 'docksend:docksend'
    }
    {
      'label': 'Docksend Directory'
      'command': 'docksend:docksendDirectory'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Docksend'
      'submenu': [
        {
          'label': 'Docksend'
          'command': 'docksend:docksend'
        }
        {
          'label': 'Docksend Directory'
          'command': 'docksend:docksendDirectory'
        }
      ]
    ]
  }
]
